@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 13px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0px 13px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul>li>a:hover {
    color: rgb(54, 43, 180);
}

input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 13px;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 90vh;
}

.container {
    max-width: 80vw;
    margin: auto;
    padding: 9px 13px;
}

.container h1{
    padding: 12px 0;
}

.logo img {
    width: 20px;
    filter: invert(1);
}

.btn{
    background: black;
    color: white;
    padding: 9px 12px;
    border-radius: 10px;
    cursor: pointer;
}

#resultCont div::first-letter{
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .container {
        font-size: 12px;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        padding: 6px 0px;
        font-size: 12px;
    }

    .logo img {
        width: 20px;
        filter: invert(1);
    }

    .logo span{
        font-size: 20px;
    }
}